.scroll {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 0;
    width: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 80px solid #fff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.scroll:before {
    content: '';
    position: absolute;
    top: 45px;
    left: 50%;
    height: 20px;
    width: 30px;
    margin-top: -5px;
    margin-left: -15px;
    background-color: #1976D2;
    -webkit-clip-path: polygon(15% 0, 50% 60%, 85% 0, 100% 20%, 50% 100%, 0 20%);
    clip-path: polygon(15% 0, 50% 60%, 85% 0, 100% 20%, 50% 100%, 0 20%);
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

@-webkit-keyframes bounce {
    50% {
        -webkit-transform: scale(0.75) translateY(-50%);
        transform: scale(0.75) translateY(-50%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: scale(0.75) translateY(-50%);
        transform: scale(0.75) translateY(-50%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/* SVG DRAW */

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}